[submodule ".registry"]
	path = .registry
	url = https://github.com/perpetual-ml/perpetual-ml.r-universe.dev
	branch = HEAD
[submodule "perpetual"]
	path = perpetual
	url = https://github.com/perpetual-ml/perpetual
	branch = r-universe
